.registr-container{
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.reigstr-link-holder{
    justify-content: space-around;
}
.reigstr-link-holder>*:hover{
    font-size: 20px;
}
.column{
    display: flex;
    flex-direction: column;
}
input{
    margin: 5px 0;
}
#login-btn{
    margin-top: 10px;
}