.fav-cities{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.welcome-text-container{
    padding: 15px;
    margin-top: 38px;
    transform: translateY(70%);
}
.fav-cities-list{
    padding: 0;
}
.fav-cities-list:hover{
    cursor: context-menu;
}
.fav-cities-list>div{
    justify-content: space-between;
}
.welcome-text{
    font-size: 20px;
}
