.main-container{
    margin: 0 300px;
    height: 100vh;
}
.header{
    display: flex;
    width: 100%;
    padding: 15px 20px;
    justify-content: space-between;
    box-sizing: border-box;
}
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: #121212;
    color: white;
}
.image{
    width: 280px;
    height: 35px;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
}
.link-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

