#root{
    width: 100%;
    background-color: white;
}
.link{
    text-decoration: none;
    color: rgb(81, 210, 150);
    font-weight: 400;
    font-size: 18px;
}

#light{
    background-color: white;
    color: blavk;
    overflow: auto;
    background-image: url(./img/birds.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}
#dark{
    background-color: black;
    color: white;
    overflow: auto;
    background-image: url(./img/birdsDark.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}