#root{
    margin: 0;
}
.link{
    text-decoration: none;
    color: rgb(81, 210, 150);
    font-weight: 400;
    font-size: 18px;
}
#light{
    background-color: white;
    color: black;
}
#dark{
    background-color: black;
    color: white;
}